<header class="bg-green-700 text-white py-6 shadow-md w-full">
  <div class="max-w-7xl mx-auto flex justify-between items-center px-6">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
</header>


<% if user_signed_in? %>
  <div class="container mt-6">
    <h2 class="text-2xl font-bold text-green-700">Reseñas de Comidas en Cada Lugar: Reseñas Propias y de Otros Usuarios</h2>

    <% @lugares.each do |lugar| %>
      <div class="mb-6">
        <h3 class="text-xl font-semibold text-yellow-400">Lugar: <%= lugar.nombre %></h3> <!-- Muestra el nombre del lugar -->
        <h3 class="text-xl font-semibold text-yellow-400">Dirección: <%= lugar.direccion %></h3> <!-- Muestra la dirección del lugar -->

        <!-- Mostrar el nombre del usuario que agregó el lugar -->
        <p class="text-sm text-gray-500">Propietario: <%= lugar.user.email %></p> <!-- Asegúrate de que 'usuario' sea la relación correcta -->

        <% # Filtrar comidas que tienen opiniones %>
        <% comidas_con_opiniones = lugar.comidas.select { |comida| comida.opinions.any? } %>

        <% if comidas_con_opiniones.any? %>
          <% comidas_con_opiniones.each do |comida| %>
            <div class="my-3 p-3 border border-green-300 rounded-lg">
              <%= link_to "Ver Reseñas de la comida: #{comida.nombre}", lugare_comida_path( lugar, comida), class: 'block px-4 py-2 text-green-600 hover:bg-green-100 transition' %>
            </div>
          <% end %>
        <% else %>
          <span class="text-gray-500">No hay comidas con reseñas disponibles</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container mt-6">
    <p class="text-gray-500">Por favor, inicia sesión para ver los lugares y comidas.</p>
  </div>
<% end %>
