<!DOCTYPE html>
<html>
<head>
  <title>TuApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <img src="<%= asset_path('paginaweb.jpeg') %>" alt="Background Image" class="full-page-background">

  <div class="header">
    <div class="header-content">
      <div class="info">
        <h1>Bienvenido a TuApp</h1>
        <p>Esta es la p치gina principal de tu aplicaci칩n Rails.</p>
      </div>
      <div class="auth-links">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="p-3" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">
              <p>Cerrar Sesi칩n</p>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
              <p>Iniciar Sesi칩n</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
