<!DOCTYPE html>
<html>
<head>
  <title>TuApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <img src="<%= asset_path('paginaweb.jpeg') %>" alt="Background Image" class="full-page-background">

  <div class="header">
    <div class="header-content">
      <div class="info-auth-container">
        <div class="info">
          <h1>Bienvenido a TuApp</h1>
          <p>Esta es la página principal de tu aplicación Rails.</p>

          <% if user_signed_in? %>
          <!-- Enlace a la página de "Cargar Información" -->
              <%= link_to 'Cargar Información', cargar_informacion_path, class: 'btn btn-primary' %>
            <p>Usuario actual: <%= current_user.email %> - Rol: <%= current_user.admin? ? "Administrador" : "Usuario" %></p>
          <% end %>

        </div>
        <div class="auth-links">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "auth-link btn" do %>
              <div class="auth-button">
                <p>Cerrar Sesión</p>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "auth-link btn" do %>
              <div class="auth-button">
                <p>Iniciar Sesión</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
