<div class="container mt-4">
  <h1>Nueva Opinión</h1>

  <%= form_with(model: @opinion, url: @reviewable.is_a?(Lugar) ? lugare_opinions_path(@reviewable) : lugare_comida_opinions_path(@reviewable.lugar, @reviewable), local: true) do |form| %>

    <% if @opinion.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@opinion.errors.count, "error") %> impidieron guardar esta opinión:</h2>
        <ul>
          <% @opinion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :puntaje %>
      <%= form.select :puntaje, options_for_select([1, 2, 3, 4, 5]), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :comentario %>
      <%= form.text_area :comentario, class: 'form-control' %>
    </div>

    <div class="text-center">
      <%= form.submit "Crear opinion",class: 'btn btn-success', onclick: "return confirm('¿Estás seguro de que quieres cargar el lugar? ');" %>
    </div>
  <% end %>

  <%= link_to 'Volver', :back, class: 'btn btn-secondary mt-3' %>
</div>
