<header class="bg-green-700 text-white py-6 shadow-md w-full">
  <div class="max-w-7xl mx-auto flex justify-between items-center px-6">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
</header>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Reseña sobre
        <%= @opinion.lugar ? @opinion.lugar.nombre : @opinion.comida.nombre %>
      </h5>

      <p class="card-text">
        <strong>Fecha:</strong> <%= @opinion.fecha %><br>
        <strong>Puntaje:</strong> <%= "⭐" * @opinion.puntaje %><br>
        <strong>Comentario:</strong> <%= @opinion.comentario %>
      </p>

      <small class="text-muted">Por: <%= @opinion.user.email %></small>
    </div>
  </div>

  <%= link_to 'Volver', :back, class: 'btn btn-secondary mt-3' %>
</div>
