<h1><%= @lugar.nombre %></h1>
<p>Dirección: <%= @lugar.direccion %></p>
<p>Tipo: <%= @lugar.tipo %></p>
<p>Puntaje: <%= @lugar.puntaje %></p>
<p>Descripción: <%= @lugar.descripcion %></p>

<h2>Comidas</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Foto</th>
      <th>Sabor</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @lugar.comidas.each do |comida| %>
      <tr>
        <td><%= comida.nombre %></td>
        <td>
          <% if comida.photo.attached? %>
            <%= image_tag comida.photo, size: "100x100" %>
          <% else %>
            Sin foto
          <% end %>
        </td>
        <td><%= comida.sabor %></td>
        <td><%= number_to_currency(comida.precio) %></td>
        <td>
          <%= link_to 'Ver', lugare_comida_path(@lugar, comida), class: 'btn btn-info' %>
          <%= link_to 'Editar', edit_lugare_comida_path(@lugar, comida), class: 'btn btn-warning' %>
          <%= link_to 'Agregar Opinión', new_lugare_opinion_path(@lugar), class: 'btn btn-primary' %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Agregar Comida", new_lugare_comida_path(lugare_id: @lugar.id), class: 'btn btn-primary' %>
<%= link_to 'Volver a Inicio', root_path, class: 'btn btn-primary' %>
