<h1>Editar Comida en <%= @lugar.nombre %></h1>
<%= form_with model: [@lugar, @comida], url: lugare_comida_path(@lugar, @comida), local: true, multipart: true do |form| %>
  <%= form.label :nombre %>
  <%= form.text_field :nombre %><br>

  <%= form.label :photo %>
  <%= form.file_field :photo %><br>

  <%= form.label :precio %>
  <%= form.number_field :precio %><br>

  <%= form.label :sabor %>
  <%= form.text_field :sabor %><br>

  <%= form.label :tipo_comida %><br>
  <%= form.check_box :tipo_comida, { multiple: true }, "Carne", nil %> Carne<br>
  <%= form.check_box :tipo_comida, { multiple: true }, "Pastas", nil %> Pastas<br>
  <%= form.check_box :tipo_comida, { multiple: true }, "Pescados y Mariscos", nil %> Pescados y Mariscos<br>
  <%= form.check_box :tipo_comida, { multiple: true }, "Harinas", nil %> Harinas<br>

  <%= form.submit "Actualizar Comida" %>
<% end %>
