<h1 class="text-3xl font-extrabold text-yellow-400 mb-4">Comidas en <%= @lugar.nombre %></h1>

<div class="px-4 md:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <% @comidas.each do |comida| %>
    <div class="border border-green-200 bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow duration-300">
      <h2 class="text-xl font-semibold text-green-700 mb-2">
        <%= link_to comida.nombre, lugare_comida_path(@lugar, comida), class: 'text-green-700 hover:text-green-800 transition duration-300' %>
      </h2>
      <p class="text-green-800"><strong>Precio:</strong> <%= number_to_currency(comida.precio) %></p>
      <p class="text-green-800"><strong>Tipo de Comida:</strong> <%= comida.tipo_comida %></p>
      <p class="text-green-800 text-sm"><strong>Fecha de Registro:</strong> <%= comida.fecha_de_registro.present? ? comida.fecha_de_registro.strftime("%d/%m/%Y") : "Fecha no disponible" %></p>
    </div>
  <% end %>
</div>

<div class="text-center mt-6">
  <%= link_to 'Volver al perfil del lugar', lugare_path(@lugar), class: 'inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300' %>
</div>

<h1>NAME CONTROLLER: <%= controller_name %></h1> <!-- Nombre del controlador actual -->
<h2>ACTION NAME: <%= action_name %></h2>     <!-- Nombre de la acción actual -->
