<h1 class="text-3xl font-extrabold text-yellow-400 mb-4"><%= @comida.nombre %></h1>

<div class="bg-white border border-green-200 rounded-lg shadow-md p-6 mb-6">
  <p class="text-green-800 text-lg mb-2"><strong>Sabor:</strong> <%= @comida.sabor %></p>
  <p class="text-green-800 text-lg mb-2"><strong>Precio:</strong> <%= number_to_currency(@comida.precio) %></p>
  <p class="text-green-800 text-lg mb-4"><strong>Fecha de Registro:</strong> <%= @comida.fecha_de_registro.present? ? @comida.fecha_de_registro.strftime("%d/%m/%Y") : "Fecha no disponible" %></p>

  <% if @comida.photo.attached? %>
    <div class="mb-4">
      <p class="text-green-800 font-semibold">Foto:</p>
      <%= image_tag @comida.photo, size: "200x200", class: "rounded-lg shadow-md" %>
    </div>
  <% else %>
    <p class="text-green-800">Sin foto</p>
  <% end %>
</div>

<div class="mt-6">
  <h2 class="text-2xl font-bold text-green-600 mb-4">Opiniones para esta comida</h2>

  <% if @comida.opinions.any? %>
    <ul class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
      <% @comida.opinions.each do |opinion| %>
        <li class="border-b last:border-0 py-4">
          <p><strong><%= opinion.user.email %></strong> - <%= opinion.fecha %></p>
          <p class="text-yellow-500"><%= "⭐" * opinion.puntaje %></p>
          <p class="text-gray-800"><%= opinion.comentario %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-700">No hay opiniones para esta comida todavía.</p>
  <% end %>
</div>

<div class="flex justify-center gap-4 mt-6">
  <%= link_to 'Editar', edit_lugare_comida_path(@lugar, @comida), class: 'bg-yellow-400 text-white px-4 py-2 rounded hover:bg-yellow-500 transition duration-300' %>
  <%= link_to 'Volver', lugare_path(@lugar), class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300' %>
  <%= link_to 'Agregar Opinión', new_lugare_comida_opinion_path(@lugar, @comida), class: 'bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300' %>
</div>
